<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register page</title>
</head>
<body>
    <form action="/register" method="post">

            Firstname:<input type="text" name="firstname"><br><br>
            Lastname:<input type="text" name="lastname"><br><br>
            Username:<input type="text" name="username"><br><br>
            Password:<input type="password" name="password"><br><br>

            <input type="Submit" name="Submit">

    </form>

</body>
</html>