<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
</head>
<body>
     <form action="/register" method="post">
            Firstname:<input type="text" name="firstname"><br><br>
            Lastname:<input type="text" name="lastname"><br><br>
            Username:<input type="text" name="username"><br><br>
            Password:<input type="password" name="password"><br><br>

        City:<select name="city">

        <option> Ahemdabad</option>
        <option> Delhi</option>
        <option> Mumbai</option>
        <option> Bangalore</option>
        <option>Hyderabad</option>>
        </select><br><br>

            Gender:<input type="radio" name="gender" value="Male">Male
                    <input type="radio"name="gender" value="Female">Female<br><br>

            Hobbies:<input type="checkbox" name="hobbies"
                           value="cricket">Cricket
                    <input type="checkbox" name="hobbies"
                           value="reading">Reading
                    <input type="checkbox" name="hobbies"
                           value="music">Music<br><br>

            <input type="Submit" name="Submit">

</body>
</html>