<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form action="/update_category" method="post">
    {% for i in data %}
    Name:<input type="text" name="name" value="{{i['category_name']}}"><br><br>
    Description:<input type="text" name="description"
                       value="{{i['category_description'] }}"><br><br>
    <input type="hidden" name="id" value="{{i['category_id']}}">
    <input type="submit" value="SUBMIT">
    {% endfor %}
</form>
</body>
</html>